@font-face{
    src:url('../asset/fonts/roboto/Roboto-Black.ttf');
    font-family: 'Roboto-Black.ttf';
}
@font-face{
    src:url('../asset/fonts/roboto/Roboto-Regular.ttf');
    font-family: 'Roboto-Regular.ttf';
}
@font-face{
    src:url('../asset/fonts/roboto/Roboto-Bold.ttf');
    font-family: 'Roboto-Bold.ttf';
}
@font-face{
    src:url('../asset/fonts/Raleway/Raleway-Regular.ttf');
    font-family: 'Raleway-Regular.ttf';
}
*{
    margin:0px;
    padding: 0px;
}
.main-container{
    margin: auto;
    margin-top: 50%;
    margin-bottom: 300px;
    border: 2px solid rgb(6, 56, 39);
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    flex: initial;
    border-radius: 5px;
    background-color: rgb(6, 56, 39);
    box-sizing: content-box;
    box-shadow: 20px 10px 20px 10px rgba(0,0,0,0.4);
}


.main-container .header-text{
    color: rgb(255, 255, 255);
    font-family: 'Roboto-Black.ttf';
    clear: all;
    font-size: 30px;
    margin-top: -10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: left !important;
    margin-top: 50px; 
    justify-content: center;
    background-color: transparent;
   
}
.mainText{
    color: rgb(255, 255, 255);
    margin-top: -27px;
    margin-left: 30px;
    font-family: 'Roboto-bold.ttf';
    text-decoration: solid;
    text-transform: capitalize;
}
.form-control:active {
    transition: ease-in 4s;
    border: 1px solid #FFF;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;  
}
.form-control:focus {
    transition: ease-out 1.56s;
    border: 1px solid #FFF;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgb(245, 245, 245) !important;  
}
/* .form-control:active{
    transition: ease-out 1.56s;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: transparent;  
} */
.fa-angle-double-right {
    font-size: 30px !important;
    color: rgb(255, 254, 254);
    margin-left: 5px;
}
.form-row .col-md-6{
    background-color: transparent;
}
form{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: transparent;
}
.input_styling{
    border-radius: 0px !important;
    background-color: transparent;
}
.input_styling::placeholder{
    color: rgb(17, 6, 6);
    font-family: 'Roboto-Regular.ttf';
}
label{
font-family: 'Raleway-Regular.ttf';
color: #FFF;
}
.mybtn{
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: 'Raleway-Regular.ttf';
}